<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta</title>
</head>
<body>

    <a href="{% url 'home' %}">Home</a>
    <h1>Resposta</h1>

    <h2>{{n1}} + {{n2}} = {{soma}}</h2>
    <br>
    <h2>{{n1}} - {{n2}} = {{sub}}</h2>
    <br>
    <h2>{{n1}} * {{n2}} = {{mult}}</h2>
    <br>
    {% if n2 != 0 %}
    <h2>{{n1}} / {{n2}} = {{div}}</h2>
    {% else %}
    <h2>Erro-Divisao por zero</h2>
    {% endif %}


</body>
</html>